@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap');
:root{
    --cor-azul-primaria: #0074E4;
    --cor-azul-secundaria: #001F3F;
    --cor-amarela-destaque: #FFA500;
    --cor-fonte-preta: #1E1E1E;
    --cor-fonte-branca: #F5F5F5;
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-paragrafo: 'Open Sans', sans-serif;
    --fonte-titulo-telas-g-m: 45px;
    --fonte-paragrafo-telas-g-m: 23px;
    --fonte-titulo-telas-p: 25px;
    --fonte-paragrafo-telas-p: 17px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
li::before{
    content: url('./check-amarelo-telas-g-m.png');
    padding-right: 3%;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.titulo{
    font-family: var(--fonte-titulo);
    font-weight: bold;
}
.paragrafo{
    font-family: var(--fonte-paragrafo);
}
.preto{
    color: var(--cor-fonte-preta);
}
.branco{
    color: var(--cor-fonte-branca);
}
.negrito{
    font-weight: bold;
}

#hero-row, footer{
    background: linear-gradient(180deg, var(--cor-azul-secundaria) 0%, var(--cor-azul-primaria) 100%);
}
.underline-destaque{
    text-decoration: underline solid 3px var(--cor-amarela-destaque);
}
#btn{
    background-color: var(--cor-amarela-destaque);
    border: none;
}

@media (max-width: 500px) {
    .titulo-tamanho{
        font-size: var(--fonte-titulo-telas-p);
        line-height: 140%;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-paragrafo-telas-p);
        line-height: 147.059%;
    }
    .margem-lateral{
        margin-right: 5%;
        margin-left: 5%;
    }
    .espaçamento-cima-baixo{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .espaçamento-baixo{
        margin-bottom: 5%;
    }
    #seção-2{
        min-height: 100vh;
    }
    .opiniao-caixa{
        width: 75vw;
    }
    .center{
        text-align: center;
    }
    .justify{
        text-align: justify;
    }

    #img-hero-row, #img-galeria-1, #img-galeria-2, #img-galeria-3, #img-galeria-4, #img-galeria-5{
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px var(--cor-azul-secundaria);
    }
    #img-seção-2{
        display: none;
    }

    #seção-2, #seção-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #btn{
        width: 100%;
        padding: 3% 2%;
        border-radius: 5px;
    }
    li::before{
        content: url('check-amarelo.svg');
        padding-right: 3%;
    }
}
@media (min-width: 501px){
    .titulo-tamanho{
        font-size: var(--fonte-titulo-telas-g-m);
        line-height: 144.444%;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-paragrafo-telas-g-m);
        line-height: 160.87%;
    }
    .margem-lateral{
        margin-right: 3%;
        margin-left: 3%;
    }
    .espaçamento-cima-baixo{
        padding-top: 9%;
        padding-bottom: 9%;
    }
    .espaçamento-baixo{
        margin-bottom: 4%;
    }
    #hero-row-caixa-texto, #seção-2-caixa-texto{
        width: 90vw;
    }
    #seção-2{
        min-height: 100vh;
    }
    .opiniao-caixa{
        width: 50vw;
    }
    .center{
        text-align: center;
    }
    .justify{
        text-align: justify;
    }

    #img-hero-row, #img-galeria-1, #img-galeria-2, #img-galeria-3, #img-galeria-4, #img-galeria-5{
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px var(--cor-azul-secundaria);
    }
    #img-seção-2{
        display: none;
    }
    .aspas-azuis{
        width: 100px;
        height: 100px;
    }

    #seção-2, #seção-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #btn{
        width: 60%;
        padding: 2% 0%;
        border-radius: 5px;
    }
    #btn > a {
        font-size: 35px;
    }
    #duas-ultimas-img-galeria{
        display: flex;
        gap: 3%;
    }
    hr{
        width: 50vw;
        margin: 0 auto;
    }
}